@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap");

:root {
    --dim: 3;
    --border-color: #d9ced7;
    --border-shadow: #d9ced719;
    --board-background: #4361EE;
    --shadow-color: #4362ee77;
    --body-background: #4CC9F0;
}

html {
    font-family: Lato, sans-serif, system-ui;
    font-weight: 700;
    color: white;
}

body {
    background-color: var(--body-background);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Flip feature
div.outer-card {
    background-color: transparent;
    height: 400px;
    aspect-ratio: 1;
}

div.inner-card, div.front-container, div.back-container {
    width: 100%;
    height: 100%;
}

div.inner-card {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    &.flip {
        transform: rotateY(180deg);
    }
}

div.front-container, div.back-container {
    position: absolute;
    backface-visibility: hidden;

    box-shadow: 10px 10px 20px var(--shadow-color);
    border-radius: 20px;
}

div.back-container {
    transform: rotateY(180deg);
}

div.front, div.back {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}

// Design
div.front-container {
    background-color: var(--board-background);
}

div.back-container {
    background-color: yellow;
}

div.front {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-template-rows: min-content 1fr;
    row-gap: 10px;
    align-items: stretch;
    
    div.current-player {
        grid-column: 1 / 2;
        
        display: flex;
        align-items: center;

        span {
            font-size: 18px;
            margin-left: 5px;
        }
        .win, .tie {
            margin-left: 35px;
            transform: scale(1.4);
            transition-duration: 0.4s;
        }
        .win {
            color: #FFF3B0;
        }
        .tie {
            color: #E09F3E;
        }
    }
    img.icon {
        height: 30px;
        width: 30px;
    }
    img.reset.icon {
        grid-column: 2 / 3;
        margin-right: 5px;
    }
    img.settings.icon {
        grid-column: 3 / 4;
    }
}

div.game-board {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(calc(var(--dim) - 1), 1fr min-content) 1fr;
    grid-template-rows: repeat(calc(var(--dim) - 1), 1fr min-content) 1fr;
        // dynamically resiable grid
    
    div.border {
        border-radius: 10px;
        background-color: var(--border-color);
        box-shadow: 10px 10px 20px var(--border-shadow);
    }

    div.border.horizontal {
        grid-column: 1 / -1;
        height: 10px;
    }

    div.border.vertical {
        grid-row: 1 / -1;
        width: 10px;
    }
}

button.cell {
    border: none;
    margin: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    transition-duration: 0.15s;
    border-radius: 20px;

    &:not([style^="background-image:"]):hover {
        background-color: #0000000b;
        transition-duration: 0.15s;
        cursor: pointer;
    }
}

.clickable {
    transition-duration: 0.2s;

    &:hover {
        transform: scale(1.1);
        transition-duration: 0.2s;
        cursor: pointer;
    }
}

.hidden {
    display: none;
}




