@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap");
:root {
  --dim: 3;
  --border-color: #d9ced7;
  --border-shadow: #d9ced719;
  --border-thickness: calc(30px * 1/var(--dim));
  --board-background: #4361EE;
  --shadow-color: #4362ee77;
  --body-background: #4CC9F0;
  --border-radius: 20px;
}

html {
  font-family: Lato, sans-serif, system-ui;
  font-weight: 700;
  color: white;
}

body {
  background-color: var(--body-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.outer-card {
  background-color: transparent;
  height: 400px;
  aspect-ratio: 1;
}

div.inner-card, div.front-container, div.back-container {
  width: 100%;
  height: 100%;
}

div.inner-card {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
div.inner-card.flip {
  transform: rotateY(180deg);
}

div.front-container, div.back-container {
  position: absolute;
  backface-visibility: hidden;
  box-shadow: 10px 10px 20px var(--shadow-color);
  border-radius: 20px;
}

div.back-container {
  transform: rotateY(180deg);
}

div.front, div.back {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
}

div.front-container {
  background-color: var(--board-background);
}

div.back-container {
  background-color: rgb(175, 206, 21);
}

div.front {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-template-rows: min-content 1fr;
  row-gap: 10px;
  align-items: stretch;
}
div.front div.current-player {
  grid-column: 1/2;
  display: flex;
  align-items: center;
}
div.front div.current-player span {
  font-size: 18px;
  margin-left: 5px;
}
div.front div.current-player .win, div.front div.current-player .tie {
  margin-left: 35px;
  transform: scale(1.4);
  transition-duration: 0.4s;
}
div.front div.current-player .win {
  color: #FFF3B0;
}
div.front div.current-player .tie {
  color: #E09F3E;
}
div.front img.reset.icon {
  grid-column: 2/3;
  margin-right: 5px;
}
div.front img.settings.icon {
  grid-column: 3/4;
}

div.game-board {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(calc(var(--dim) - 1), 1fr min-content) 1fr;
  grid-template-rows: repeat(calc(var(--dim) - 1), 1fr min-content) 1fr;
}
div.game-board div.border {
  border-radius: 10px;
  background-color: var(--border-color);
  box-shadow: 10px 10px 20px var(--border-shadow);
}
div.game-board div.border.horizontal {
  grid-column: 1/-1;
  height: var(--border-thickness);
}
div.game-board div.border.vertical {
  grid-row: 1/-1;
  width: var(--border-thickness);
}
div.game-board button.cell {
  border: none;
  margin: 5%;
  background-color: transparent;
  background-repeat: no-repeat;
  transition-duration: 0.15s;
  border-radius: 20px;
}
div.game-board button.cell:not([style^="background-image:"]):hover {
  background-color: rgba(0, 0, 0, 0.0431372549);
  transition-duration: 0.15s;
  cursor: pointer;
}

.clickable {
  transition-duration: 0.2s;
}
.clickable:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  cursor: pointer;
}

.hidden {
  display: none;
}

.icon {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

div.back {
  display: grid;
  grid-template-columns: max-content 2fr;
  grid-template-rows: repeat(4, min-content) 1fr;
  align-items: center;
  row-gap: 15px;
  column-gap: 15px;
  font-size: 22px;
}
div.back input {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  width: 100%;
  margin: 0;
  padding: 5px;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
}
div.back input:focus {
  background-color: rgba(255, 255, 255, 0.2431372549);
  outline: none;
}
div.back button#save-settings {
  grid-column: 2/3;
  justify-self: end;
  background-image: url("./assets/check-bold.svg");
  font-size: 0;
}
div.back div#dimensions {
  display: flex;
  align-items: center;
}
div.back button#grid-minus {
  margin-left: 5px;
  background-image: url("./assets/minus-box.svg");
}
div.back button#grid-plus {
  background-image: url("./assets/plus-box.svg");
}

/*# sourceMappingURL=styles.css.map */
